.blingDEF.blingDEF {
  left: 1548px;
  top: 2874px;
}
.icon {
  width: 100%;
  height: 100%;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.vuesaxLinearSun2.vuesaxLinearSun2 {
  width: 16px;
  height: 16px;
}
.vuesaxLinearSun.vuesaxLinearSun {
  width: 16px;
  height: 16px;
}
.vuesaxLinearSun {
  width: 16px;
  height: 16px;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.expand_down_light.expand_down_light {
  width: 16px;
  height: 16px;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.component93.component93 {
  left: 394px;
}
.component94.component94 {
  left: 788px;
}
.component932.component932 {
  left: 394px;
}
.component942.component942 {
  left: 788px;
}
.rectangle4349.rectangle4349 {
  -webkit-mask-image:/* webpackIgnore: true */ url('assets/group480955392.svg');
  mask-image:/* webpackIgnore: true */ url('assets/group480955392.svg');
}
.tradingScreenPOpUp.tradingScreenPOpUp {
  left: 735px;
  top: 101px;
}
.mainBlank1.mainBlank1 {
  background-image:/* webpackIgnore: true */ url('assets/mainBlank12.png');
}
.buySell.buySell.buySell {
  background-image:/* webpackIgnore: true */ url('assets/buySell3.png');
}
.order.order.order {
  background-image:/* webpackIgnore: true */ url('assets/order3.png');
}
.market.market.market {
  background-image:/* webpackIgnore: true */ url('assets/market3.png');
}
.positions.positions.positions {
  background-image:/* webpackIgnore: true */ url('assets/positions3.png');
}
.component72.component72 {
  left: 121px;
  top: 769px;
}
.rectangle4333.rectangle4333 {
  background-image:/* webpackIgnore: true */ url('assets/rectangle43332.jpeg');
  -webkit-mask-image:/* webpackIgnore: true */ url('assets/frame480955642.svg');
  mask-image:/* webpackIgnore: true */ url('assets/frame480955642.svg');
}
.component99.component99 {
  left: 1px;
  top: 2269px;
}
.component110.component110 {
  left: 120px;
}
.testimonialsPop.testimonialsPop {
  left: 536px;
}
.component109.component109 {
  left: 952px;
}
.component1102.component1102 {
  left: 120px;
}
.testimonialsPop2.testimonialsPop2 {
  left: 536px;
}
.component1092.component1092 {
  left: 952px;
}
.bigDEXInteraction.bigDEXInteraction {
  left: 120px;
  top: 769px;
}
.rectangle43332.rectangle43332 {
  background-image:/* webpackIgnore: true */ url('assets/rectangle43334.jpeg');
  -webkit-mask-image:/* webpackIgnore: true */ url('assets/frame480955644.svg');
  mask-image:/* webpackIgnore: true */ url('assets/frame480955644.svg');
}
.component992.component992 {
  left: 1056px;
  top: 1006px;
}
.popularMarket.popularMarket {
  top: 3393px;
}
.image8.image8.image8 {
  background-image:/* webpackIgnore: true */ url('assets/image85.png');
}
.image13.image13.image13 {
  background-image:/* webpackIgnore: true */ url('assets/image136.png');
}
.imageRemovebgPreview1.imageRemovebgPreview1.imageRemovebgPreview1 {
  background-image:/* webpackIgnore: true */ url('assets/imageRemovebgPreview15.png');
}
.image132.image132.image132 {
  background-image:/* webpackIgnore: true */ url('assets/image137.png');
}
.image10.image10.image10 {
  background-image:/* webpackIgnore: true */ url('assets/image106.png');
}
.image12.image12.image12 {
  background-image:/* webpackIgnore: true */ url('assets/image128.png');
}
.image11.image11.image11 {
  background-image:/* webpackIgnore: true */ url('assets/image115.png');
}
.image122.image122.image122 {
  background-image:/* webpackIgnore: true */ url('assets/image129.png');
}
.image102.image102.image102 {
  background-image:/* webpackIgnore: true */ url('assets/image107.png');
}
.image123.image123.image123 {
  background-image:/* webpackIgnore: true */ url('assets/image1210.png');
}
.image112.image112.image112 {
  background-image:/* webpackIgnore: true */ url('assets/image116.png');
}
.image124.image124.image124 {
  background-image:/* webpackIgnore: true */ url('assets/image1211.png');
}
.root {
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  background-color: #000921;
  background-image: linear-gradient(180deg, #191235ff 0%, #28075eff 42%, #c1294cff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  overflow-y: auto;
  overflow-x: hidden;
}
.bG2 {
  position: absolute;
  left: -222px;
  top: 2310px;
  width: 1770px;
  height: 564px;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.bGCurve1 {
  position: absolute;
  left: 1px;
  top: 559px;
  width: 1440px;
  height: 960px;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.bG4 {
  opacity: 0.3;
  position: absolute;
  left: -222px;
  top: 3660px;
  width: 1770px;
  height: 564px;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.vector {
  position: absolute;
  left: 0.0157%;
  right: 1.4827%;
  top: 0.0489%;
  bottom: 39.4512%;
  overflow: visible;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.vector2 {
  position: absolute;
  left: 0.1983%;
  right: 1.408%;
  top: 3.2243%;
  bottom: 38.6163%;
  overflow: visible;
}
.icon10 {
  width: 100%;
  height: 100%;
}
.vector3 {
  position: absolute;
  left: 0.3815%;
  right: 1.334%;
  top: 6.3709%;
  bottom: 37.7618%;
  overflow: visible;
}
.icon11 {
  width: 100%;
  height: 100%;
}
.vector4 {
  position: absolute;
  left: 0.5647%;
  right: 1.2606%;
  top: 9.4487%;
  bottom: 36.9108%;
  overflow: visible;
}
.icon12 {
  width: 100%;
  height: 100%;
}
.vector5 {
  position: absolute;
  left: 0.7473%;
  right: 1.1872%;
  top: 12.5276%;
  bottom: 36.0204%;
  overflow: visible;
}
.icon13 {
  width: 100%;
  height: 100%;
}
.vector6 {
  position: absolute;
  left: 0.9324%;
  right: 1.1144%;
  top: 15.5836%;
  bottom: 35.1158%;
  overflow: visible;
}
.icon14 {
  width: 100%;
  height: 100%;
}
.vector7 {
  position: absolute;
  left: 1.1137%;
  right: 1.041%;
  top: 18.6077%;
  bottom: 34.1898%;
  overflow: visible;
}
.icon15 {
  width: 100%;
  height: 100%;
}
.vector8 {
  position: absolute;
  left: 1.2963%;
  right: 0.9694%;
  top: 21.6106%;
  bottom: 33.2386%;
  overflow: visible;
}
.icon16 {
  width: 100%;
  height: 100%;
}
.vector9 {
  position: absolute;
  left: 1.4795%;
  right: 0.8948%;
  top: 24.5899%;
  bottom: 32.2669%;
  overflow: visible;
}
.icon17 {
  width: 100%;
  height: 100%;
}
.vector10 {
  position: absolute;
  left: 1.6628%;
  right: 0.8213%;
  top: 27.5446%;
  bottom: 31.273%;
  overflow: visible;
}
.icon18 {
  width: 100%;
  height: 100%;
}
.vector11 {
  position: absolute;
  left: 1.8454%;
  right: 0.7479%;
  top: 30.4768%;
  bottom: 30.2597%;
  overflow: visible;
}
.icon19 {
  width: 100%;
  height: 100%;
}
.vector12 {
  position: absolute;
  left: 2.0286%;
  right: 0.6751%;
  top: 33.3881%;
  bottom: 29.2213%;
  overflow: visible;
}
.icon20 {
  width: 100%;
  height: 100%;
}
.vector13 {
  position: absolute;
  left: 2.2118%;
  right: 0.603%;
  top: 36.2782%;
  bottom: 28.1614%;
  overflow: visible;
}
.icon21 {
  width: 100%;
  height: 100%;
}
.vector14 {
  position: absolute;
  left: 2.395%;
  right: 0.5308%;
  top: 39.1475%;
  bottom: 27.0764%;
  overflow: visible;
}
.icon22 {
  width: 100%;
  height: 100%;
}
.vector15 {
  position: absolute;
  left: 2.5776%;
  right: 0.4555%;
  top: 41.9946%;
  bottom: 25.0394%;
  overflow: visible;
}
.icon23 {
  width: 100%;
  height: 100%;
}
.vector16 {
  position: absolute;
  left: 2.7608%;
  right: 0.3821%;
  top: 44.8261%;
  bottom: 20.8721%;
  overflow: visible;
}
.icon24 {
  width: 100%;
  height: 100%;
}
.vector17 {
  position: absolute;
  left: 2.944%;
  right: 0.3087%;
  top: 47.638%;
  bottom: 16.7067%;
  overflow: visible;
}
.icon25 {
  width: 100%;
  height: 100%;
}
.vector18 {
  position: absolute;
  left: 3.1285%;
  right: 0.2359%;
  top: 50.4316%;
  bottom: 12.5434%;
  overflow: visible;
}
.icon26 {
  width: 100%;
  height: 100%;
}
.vector19 {
  position: absolute;
  left: 3.3098%;
  right: 0.1625%;
  top: 52.1556%;
  bottom: 8.378%;
  overflow: visible;
}
.icon27 {
  width: 100%;
  height: 100%;
}
.vector20 {
  position: absolute;
  left: 3.4931%;
  right: 0.0891%;
  top: 52.3447%;
  bottom: 4.2146%;
  overflow: visible;
}
.icon28 {
  width: 100%;
  height: 100%;
}
.vector21 {
  position: absolute;
  left: 3.6757%;
  right: 0.0163%;
  top: 52.5299%;
  bottom: 0.0493%;
  overflow: visible;
}
.icon29 {
  width: 100%;
  height: 100%;
}
.blingDEF2 {
  transform-origin: top left;
  position: absolute;
  left: 108.0791%;
  right: -108.0791%;
  top: -1.0638%;
  bottom: 1.0638%;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.frame48095611 {
  position: absolute;
  left: 17px;
  top: 77px;
  width: 1733px;
  height: 300px;
}
.icon30 {
  width: 100%;
  height: 100%;
}
.bG3 {
  opacity: 0.08;
  position: absolute;
  left: 0;
  top: 1551px;
  width: 1440px;
  height: 641px;
  background-image:/* webpackIgnore: true */ url('assets/bG3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.frame2114 {
  position: absolute;
  left: 0;
  top: 506px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
}
.frame2112 {
  width: 620px;
  height: 65px;
  overflow: visible;
}
.icon31 {
  width: 100%;
  height: 100%;
}
.frame2113 {
  width: 620px;
  height: 65px;
  overflow: visible;
}
.icon32 {
  width: 100%;
  height: 100%;
}
.frame2115 {
  position: absolute;
  left: 0;
  top: 225px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 52px;
}
.frame21122 {
  width: 620px;
  height: 65px;
  overflow: visible;
}
.icon33 {
  width: 100%;
  height: 100%;
}
.frame21132 {
  width: 620px;
  height: 65px;
  overflow: visible;
}
.icon34 {
  width: 100%;
  height: 100%;
}
.rectangle226 {
  position: absolute;
  left: 0;
  top: 2908px;
  width: 1728px;
  height: 550px;
}
.frame2142 {
  position: absolute;
  left: -10px;
  top: 1006px;
  width: 100px;
  height: 100px;
  flex-direction: column;
  overflow: hidden;
}
.rectangle221 {
  position: absolute;
  left: 0;
  top: 64px;
  width: 1440px;
  max-width: 100%;
  height: 1px;
  max-height: 100%;
  border-radius: 3px;
  background-color: #092879;
}
.frame2144 {
  position: absolute;
  left: 120px;
  top: 16px;
  width: 1260px;
  height: min-content;
  justify-content: space-between;
  align-items: center;
  gap: 530px;
}
.group1 {
  width: 48.1897px;
  height: 32px;
  overflow: visible;
}
.icon35 {
  width: 100%;
  height: 100%;
}
.frame2143 {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 32px;
}
.navMenuItems {
  width: min-content;
  height: min-content;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 0 18px;
}
.knowMore {
  color: #cbcbcb;
  font-size: 14px;
  font-family: Bai Jamjuree, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.governance {
  color: #cbcbcb;
  font-size: 14px;
  font-family: Bai Jamjuree, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.community {
  color: #cbcbcb;
  font-size: 14px;
  font-family: Bai Jamjuree, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.developers {
  color: #cbcbcb;
  font-size: 14px;
  font-family: Bai Jamjuree, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.neucron {
  color: #cbcbcb;
  font-size: 14px;
  font-family: Bai Jamjuree, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame13011 {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 12px;
}
.signUpButton {
  width: 52px;
  height: 24px;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  outline: solid 0.5px #e5e7eb;
  outline-offset: 0px;
  border-radius: 40px;
}
.frame13009 {
  z-index: 0;
  width: 48px;
  height: min-content;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  padding: 0 4px;
}
.whyManthanDEX {
  position: absolute;
  left: 0;
  top: 1629px;
  width: 1440px;
  height: 580px;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle4347 {
  position: absolute;
  left: 120px;
  top: -1px;
  width: 1200px;
  height: 581px;
  border-radius: 30px;
  background-color: #000e3e;
}
.frame48095592 {
  position: absolute;
  left: 120px;
  top: 59px;
  width: 1200px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
.frame48095573 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.whyManthanDEX2 {
  color: #06e7ed;
  font-size: 40px;
  font-weight: bold;
  font-family: Bai Jamjuree, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.euTellusQuamIdSedUltricesInteg {
  color: #e4e4e4cc;
  font-size: 16px;
  font-weight: 300;
  font-family: Bai Jamjuree, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame48095595 {
  width: 1080px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
}
.frame48095598 {
  position: relative;
  width: 1080px;
  height: 133px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
}
.frame48095599 {
  position: relative;
  width: 1080px;
  height: 133px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
}
.frame48095568 {
  position: absolute;
  left: 270px;
  top: 3684px;
  width: 255px;
  height: 20px;
  flex-direction: column;
}
.rectangle {
  position: absolute;
  left: calc(50% - 73px);
  top: calc(50% - -1224.5px);
  width: 506px;
  height: 652px;
  border-radius: 50px;
  transform: translate(-50%, -50%);
}
.frame48095566 {
  position: absolute;
  left: 120px;
  top: 240px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}
.frame79 {
  width: 503px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
}
.frame48095609 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.loremIpsumDolorSitAmetConsecte {
  color: #e4e4e499;
  font-size: 14px;
  line-height: 108%;
  font-family: Work Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  width: 503px;
  height: min-content;
  flex-direction: column;
}
.frame48095608 {
  width: 503px;
  height: min-content;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  gap: 71px 12px;
}
.frame48095604 {
  width: min-content;
  height: min-content;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.image82 {
  width: 20px;
  height: 20px;
  background-image:/* webpackIgnore: true */ url('assets/image8.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bitcoin {
  color: #fff;
  font-size: 12px;
  font-family: Bai Jamjuree, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame48095605 {
  width: min-content;
  height: min-content;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.imageRemovebgPreview12 {
  width: 20px;
  height: 20px;
  background-image:/* webpackIgnore: true */ url('assets/imageRemovebgPreview1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bSV {
  color: #fff;
  font-size: 12px;
  font-family: Bai Jamjuree, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame48095602 {
  width: min-content;
  height: min-content;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.image133 {
  width: 20px;
  height: 20px;
  background-image:/* webpackIgnore: true */ url('assets/image13.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bitcoinCash {
  color: #fff;
  font-size: 12px;
  font-family: Bai Jamjuree, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame48095603 {
  width: min-content;
  height: min-content;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.image103 {
  width: 20px;
  height: 20px;
  background-image:/* webpackIgnore: true */ url('assets/image10.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ethereum {
  color: #fff;
  font-size: 12px;
  font-family: Bai Jamjuree, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame48095606 {
  width: min-content;
  height: min-content;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.image125 {
  width: 20px;
  height: 20px;
  background-image:/* webpackIgnore: true */ url('assets/image12.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cardano {
  color: #fff;
  font-size: 12px;
  font-family: Bai Jamjuree, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame48095622 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 32px;
}
.rectangle4234 {
  position: absolute;
  left: 0;
  top: 5252px;
  width: 1440px;
  height: 39px;
  background-color: #000f37;
  box-shadow: -2px 0px 4px 0px #0000001a;
}
.text {
  color: #76809d;
  font-size: 10px;
  line-height: 24px;
  font-family: Work Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1243px;
  top: 5268px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame48095600 {
  position: absolute;
  left: 50%;
  top: 2307px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 60px 120px;
  overflow: hidden;
  transform: translateX(-50%);
}
.rectangle4348 {
  width: 1200px;
  height: 447px;
  outline: solid 0.25px #e4e4e4;
  outline-offset: 0px;
  border-radius: 30px;
}
.frame48095578 {
  position: absolute;
  left: 120px;
  top: 120px;
  width: 1200px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  gap: 68px;
}
.frame480955732 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.veryLessTRADINGFEE {
  color: #06e7ed;
  font-size: 40px;
  font-weight: bold;
  font-family: Bai Jamjuree, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.achievedVeryLowTradingFeeForTh {
  color: #e4e4e4cc;
  font-size: 16px;
  font-weight: 300;
  font-family: Bai Jamjuree, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.1em;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.group48095537 {
  position: relative;
  width: 1199.75px;
  height: 204px;
}
.frame48095576 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 50.9804%;
  width: 1199.75px;
  height: 100px;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle4342 {
  position: absolute;
  left: -0.125px;
  top: 0;
  width: 1200px;
  height: 100px;
  outline: solid 0.25px #e4e4e4;
  outline-offset: 0px;
  background-color: #001048;
}
.sWAPInGrid {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  font-family: Work Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 40%;
  right: 40%;
  top: 10.2941%;
  bottom: 85.2941%;
  width: 239.95px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.pLACEMAKEROrder {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  font-family: Work Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 60%;
  right: 20%;
  top: 10.2941%;
  bottom: 85.2941%;
  width: 239.95px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.cOLLECTMAKEROrder {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  font-family: Work Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 80%;
  right: 0%;
  top: 10.2941%;
  bottom: 85.2941%;
  width: 239.95px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.sWAPInPool {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  font-family: Work Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 40%;
  right: 40%;
  top: 60.7843%;
  bottom: 34.8039%;
  width: 239.95px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.addLiquidity {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  font-family: Work Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 60%;
  right: 20%;
  top: 60.7843%;
  bottom: 34.8039%;
  width: 239.95px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.removeLiquidity {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  font-family: Work Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 80%;
  right: 0%;
  top: 60.7843%;
  bottom: 34.8039%;
  width: 239.95px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
._00000 {
  color: #fff;
  font-size: 14px;
  font-family: Work Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 40%;
  right: 40%;
  top: 35.2941%;
  bottom: 60.2941%;
  width: 239.95px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
._000002 {
  color: #fff;
  font-size: 14px;
  font-family: Work Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 60%;
  right: 20%;
  top: 35.2941%;
  bottom: 60.2941%;
  width: 239.95px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
._000003 {
  color: #fff;
  font-size: 14px;
  font-family: Work Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 80%;
  right: 0%;
  top: 35.2941%;
  bottom: 60.2941%;
  width: 239.95px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
._000004 {
  color: #fff;
  font-size: 14px;
  font-family: Work Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 40%;
  right: 40%;
  top: 85.7843%;
  bottom: 9.8039%;
  width: 239.95px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
._000005 {
  color: #fff;
  font-size: 14px;
  font-family: Work Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 60%;
  right: 20%;
  top: 85.7843%;
  bottom: 9.8039%;
  width: 239.95px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
._000006 {
  color: #fff;
  font-size: 14px;
  font-family: Work Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 80%;
  right: 0%;
  top: 85.7843%;
  bottom: 9.8039%;
  width: 239.95px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.frame48095577 {
  position: absolute;
  left: 0;
  right: 0;
  top: 50.9804%;
  bottom: 0;
  width: 1199.75px;
  height: 100px;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle4343 {
  position: absolute;
  left: -0.125px;
  top: 0;
  width: 1200px;
  height: 100px;
  outline: solid 0.25px #e4e4e4;
  outline-offset: 0px;
}
.line3 {
  position: relative;
  left: 40%;
  right: 51.6649%;
  top: 50.8578%;
  bottom: 49.0196%;
  width: 0.25px;
  max-width: 100%;
  height: 100px;
  max-height: 100%;
}
.line3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  transform: rotate(90deg);
  width: 100px;
  height: 0;
  border-bottom: solid 0.25px #e4e4e4;
}
.line4 {
  position: relative;
  left: 60%;
  right: 31.6649%;
  top: 50.8578%;
  bottom: 49.0196%;
  width: 0.25px;
  max-width: 100%;
  height: 100px;
  max-height: 100%;
}
.line4::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  transform: rotate(90deg);
  width: 100px;
  height: 0;
  border-bottom: solid 0.25px #e4e4e4;
}
.line5 {
  position: relative;
  left: 80%;
  right: 11.6649%;
  top: 50.8578%;
  bottom: 49.0196%;
  width: 0.25px;
  max-width: 100%;
  height: 100px;
  max-height: 100%;
}
.line5::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  transform: rotate(90deg);
  width: 100px;
  height: 0;
  border-bottom: solid 0.25px #e4e4e4;
}
.line7 {
  position: relative;
  left: 40%;
  right: 0%;
  top: 75.3676%;
  bottom: 24.5098%;
  width: 719.8499px;
  max-width: 100%;
  height: 0.25px;
  max-height: 100%;
}
.line7::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  transform: translateY(0.25px) rotate(0deg);
  width: 719.8499px;
  height: 0;
  border-bottom: solid 0.25px #e4e4e4;
}
.line32 {
  position: relative;
  left: 40%;
  right: 51.6649%;
  top: -0.1225%;
  bottom: 100%;
  width: 0.25px;
  max-width: 100%;
  height: 100px;
  max-height: 100%;
}
.line32::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  transform: rotate(90deg);
  width: 100px;
  height: 0;
  border-bottom: solid 0.25px #e4e4e4;
}
.line42 {
  position: relative;
  left: 60%;
  right: 31.6649%;
  top: -0.1225%;
  bottom: 100%;
  width: 0.25px;
  max-width: 100%;
  height: 100px;
  max-height: 100%;
}
.line42::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  transform: rotate(90deg);
  width: 100px;
  height: 0;
  border-bottom: solid 0.25px #e4e4e4;
}
.line52 {
  position: relative;
  left: 80%;
  right: 11.6649%;
  top: -0.1225%;
  bottom: 100%;
  width: 0.25px;
  max-width: 100%;
  height: 100px;
  max-height: 100%;
}
.line52::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  transform: rotate(90deg);
  width: 100px;
  height: 0;
  border-bottom: solid 0.25px #e4e4e4;
}
.line72 {
  position: relative;
  left: 40%;
  right: 0%;
  top: 24.3873%;
  bottom: 75.4902%;
  width: 719.8499px;
  max-width: 100%;
  height: 0.25px;
  max-height: 100%;
}
.line72::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  transform: translateY(0.25px) rotate(0deg);
  width: 719.8499px;
  height: 0;
  border-bottom: solid 0.25px #e4e4e4;
}
.image7 {
  position: absolute;
  left: 12.9089%;
  right: 75.5053%;
  top: 68.1373%;
  bottom: 14.2157%;
  width: 139px;
  height: 36px;
  background-image:/* webpackIgnore: true */ url('assets/image7.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.frame48095575 {
  position: absolute;
  left: 10.3125%;
  right: 72.8348%;
  top: 16.6667%;
  bottom: 67.6471%;
  width: min-content;
  height: min-content;
  align-self: flex-start;
  align-items: center;
  gap: 9px;
}
.group12 {
  width: 48.1897px;
  height: 32px;
  overflow: visible;
}
.icon36 {
  width: 100%;
  height: 100%;
}
.mANTHANDEX {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: Bai Jamjuree, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame480956002 {
  position: absolute;
  left: 50%;
  top: 2934px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 60px 120px;
  overflow: hidden;
  transform: translateX(-50%);
}
.rectangle43432 {
  width: 1200px;
  height: 279px;
  outline: solid 0.25px #e4e4e4;
  outline-offset: 0px;
  border-radius: 30px;
  background-color: #000921;
}
.frame480955782 {
  position: absolute;
  left: 120px;
  top: 136px;
  width: 1200px;
  height: min-content;
  flex-direction: column;
  align-items: center;
  gap: 68px;
}
.frame48095610 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.frame480955733 {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.towardsReplacingCEXs {
  color: #06e7ed;
  font-size: 40px;
  font-weight: bold;
  font-family: Bai Jamjuree, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.builtOnBSVBlockchainAndSupport {
  color: #fff;
  font-size: 16px;
  font-family: Bai Jamjuree, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame480956082 {
  width: 534px;
  height: min-content;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  gap: 71px 12px;
}
.frame480956042 {
  width: min-content;
  height: min-content;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.image83 {
  width: 20px;
  height: 20px;
  background-image:/* webpackIgnore: true */ url('assets/image82.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bitcoin2 {
  color: #fff;
  font-size: 12px;
  font-family: Bai Jamjuree, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame480956052 {
  width: min-content;
  height: min-content;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.imageRemovebgPreview13 {
  width: 20px;
  height: 20px;
  background-image:/* webpackIgnore: true */ url('assets/imageRemovebgPreview12.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bSV2 {
  color: #fff;
  font-size: 12px;
  font-family: Bai Jamjuree, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame480956022 {
  width: min-content;
  height: min-content;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.image134 {
  width: 20px;
  height: 20px;
  background-image:/* webpackIgnore: true */ url('assets/image132.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bitcoinCash2 {
  color: #fff;
  font-size: 12px;
  font-family: Bai Jamjuree, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame480956032 {
  width: min-content;
  height: min-content;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.image104 {
  width: 20px;
  height: 20px;
  background-image:/* webpackIgnore: true */ url('assets/image102.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ethereum2 {
  color: #fff;
  font-size: 12px;
  font-family: Bai Jamjuree, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame480956062 {
  width: min-content;
  height: min-content;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.image126 {
  width: 20px;
  height: 20px;
  background-image:/* webpackIgnore: true */ url('assets/image122.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cardano2 {
  color: #fff;
  font-size: 12px;
  font-family: Bai Jamjuree, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame48095607 {
  width: min-content;
  height: min-content;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.image113 {
  width: 20px;
  height: 20px;
  background-image:/* webpackIgnore: true */ url('assets/image11.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.binanceCoin {
  color: #fff;
  font-size: 12px;
  font-family: Bai Jamjuree, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame48095645 {
  position: absolute;
  left: 50%;
  top: 4228px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  padding: 60px 0;
  background-color: #000921;
  overflow: hidden;
  transform: translateX(-50%);
}
.frame48095648 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.frame480956102 {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.frame480955734 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  flex-direction: column;
}
.testimonials {
  color: #06e7ed;
  font-size: 40px;
  font-weight: bold;
  font-family: Bai Jamjuree, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame48095647 {
  position: relative;
  width: 1440px;
  height: 333px;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.frame48095644 {
  position: absolute;
  left: 0;
  top: 80px;
  width: 72px;
  height: 173px;
}
.icon37 {
  width: 100%;
  height: 100%;
}
.frame48095643 {
  position: absolute;
  left: 1368px;
  top: 80px;
  width: 72px;
  height: 173px;
}
.icon38 {
  width: 100%;
  height: 100%;
}
.frame48095646 {
  position: absolute;
  left: 50%;
  top: 4216px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  padding: 60px 0;
  background-color: #000921;
  overflow: hidden;
  transform: translateX(-50%);
}
.frame480956482 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.frame480956103 {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.frame480955735 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  flex-direction: column;
}
.testimonials2 {
  color: #06e7ed;
  font-size: 40px;
  font-weight: bold;
  font-family: Bai Jamjuree, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame480956472 {
  position: relative;
  width: 1440px;
  height: 333px;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.frame480956442 {
  position: absolute;
  left: 0;
  top: 80px;
  width: 72px;
  height: 173px;
}
.icon39 {
  width: 100%;
  height: 100%;
}
.frame480956432 {
  position: absolute;
  left: 1368px;
  top: 80px;
  width: 72px;
  height: 173px;
}
.icon40 {
  width: 100%;
  height: 100%;
}
.frame48095657 {
  position: absolute;
  left: calc(50% - -0.5px);
  top: 4841px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  transform: translateX(-50%);
}
.frame48095654 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.frame480955736 {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.backedByTheBest {
  color: #06e7ed;
  font-size: 40px;
  font-weight: bold;
  font-family: Bai Jamjuree, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.ourLeadingInvestorsAndPartners {
  color: #fff;
  font-size: 16px;
  font-family: Bai Jamjuree, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.frame48095656 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.frame48095652 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 77px;
}
.group2 {
  width: 215.2416px;
  height: 60px;
  overflow: visible;
}
.icon41 {
  width: 100%;
  height: 100%;
}
.rectangle4358 {
  width: 181.5px;
  height: 60px;
  background-image:/* webpackIgnore: true */ url('assets/rectangle4358.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle4359 {
  width: 181.5px;
  height: 60px;
  background-image:/* webpackIgnore: true */ url('assets/rectangle4359.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.frame48095658 {
  position: relative;
  width: 181.5px;
  height: 60px;
  flex-direction: column;
  align-items: flex-start;
}
.image14 {
  position: absolute;
  left: -0.6667px;
  top: 0px;
  width: 182px;
  height: 60px;
  background-image:/* webpackIgnore: true */ url('assets/image14.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.frame48095655 {
  width: 991px;
  height: min-content;
  justify-content: space-between;
  align-items: flex-start;
  gap: 77px;
}
.rectangle43582 {
  width: 181.5px;
  height: 60px;
  background-image:/* webpackIgnore: true */ url('assets/rectangle43582.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle4362 {
  width: 181.5px;
  height: 60px;
  background-image:/* webpackIgnore: true */ url('assets/rectangle4362.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.frame480956582 {
  position: relative;
  width: 181.5px;
  height: 60px;
  flex-direction: column;
  align-items: flex-start;
}
.image142 {
  position: absolute;
  left: -0.6667px;
  top: 0px;
  width: 182px;
  height: 60px;
  background-image:/* webpackIgnore: true */ url('assets/image142.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle43592 {
  width: 181.5px;
  height: 60px;
  background-image:/* webpackIgnore: true */ url('assets/rectangle43592.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.vector588 {
  position: absolute;
  left: 1253px;
  top: 1607px;
  width: 89px;
  height: 89px;
  overflow: visible;
}
.icon42 {
  width: 100%;
  height: 100%;
}
.group48095543 {
  position: absolute;
  left: 127px;
  top: 3101px;
  width: 89px;
  height: 146px;
  overflow: visible;
}
.icon43 {
  width: 100%;
  height: 100%;
}
.group48095544 {
  position: absolute;
  left: 1276px;
  top: 4714px;
  width: 144px;
  height: 199px;
  overflow: visible;
}
.icon44 {
  width: 100%;
  height: 100%;
}
